<div class="container-fluid">  
<div class="row">
    <div class="col-4 col-md-4" >
        <img class="image centerMe" src="{{course.image}}" alt="{{course.image}}" style="width: 100%;">  
    </div>
    <div class="col-8 col-md-8">
        
        <h3> {{course.name}} </h3>
        <p> {{course.description}} </p>
        <table style="width: 100%;">
            <tr>
                <th> <p> Ilość miejsc </p> </th>
                <th> <p> Forma zajęć </p> </th>
                <th> <p> Semestr </p> </th>
                <th> <p> ECTS </p> </th>
                <th> <p> Ocena kursu </p> </th>
            </tr>
        
            <tr>
                <td> <p> {{courseService.getVacantSeats(course)}} </p> </td>
                <td> <p> {{course.form}} </p> </td>
                <td> <p> {{course.semestr}} </p> </td>
                <td> <p> {{course.ects}} </p> </td>
                <td> <p> {{markService.getMark(this.course.mark, this.course.students)}} </p> </td>
            </tr>
            
            <tr *ngIf=(courseService.studentOnList(course))>
                <td> Ocenić kurs </td>
                <td>
                    <select class="custom-select custom-select-md centerMe" id="inlineFormCustomSelect" #m>
                        <option>{{markService.getMyMark(course.mark)}}</option>
                        <option value="2.0">2</option>
                        <option value="3.0">3</option>
                        <option value="4.0">4</option>
                        <option value="5.0">5</option>
                    </select>
                </td>
                <td></td>
                <td>
                    <button (click)="addMark(m.value,course.id)" class="btn btn-outline-info centerMe"> Dodaj ocenę </button>
                </td>
                <td></td>
            </tr>   
               
    </table>
    <br>
    <button  *ngIf="(!courseService.studentOnList(course)) && (courseService.getVacantSeats(course)>0)"
        class=" btn btn-outline-info centerMe "
       (click)="courseService.addStudentOnList(course)"> 
        Zapisz się na kurs 
    </button>

    <button  *ngIf="(!courseService.studentOnList(course)) && (!(courseService.getVacantSeats(course)>0))"
        class="btn btn-outline-info centerMe " disabled
       (click)="courseService.addStudentOnList(course)"> 
        Zapisz się na kurs 
    </button>
    <button *ngIf=(courseService.studentOnList(course))
                        class=" btn btn-outline-danger centerMe "
                       (click)="courseService.deleteStudentFromList(course)"> 
                        Wypisz się z kursu 
    </button>
    </div>
</div>
</div>